.shadow-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: none !important
}

.shadow-sm a, .shadow-sm span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: none;
    border: 0;
    transition: .15s ease-in-out;
    color: #666;
    text-align: center;
    font-weight: 500;
    margin: 5px;
    padding: 0 !important;
}

.shadow-sm span[aria-disabled="true"] span {
    background: #f0f0f0 !important;
}

svg.w-5.h-5 {
    font-weight: unset !important;
    font-size: 10px !important;
    width: 25px;
}

.shadow-sm span[aria-current="page"] span {
    background: #3B978D !important;
    color: white !important;
}

.shadow-sm a.relative:hover {
    background: #f0f0f0 !important;
}

.shadow-sm > span[aria-disabled="true"], .shadow-sm > span[aria-current="page"] {
    padding: 0 !important;
    margin: 0;
    border: 0 !important;
    width: auto;
    height: auto
}

nav[aria-label="Pagination Navigation"] .hidden > div > .text-sm {
    display: none
}

.flex.justify-between.flex-1.sm\:hidden {
    display: none;
}

.modalLogin__btn {
    width: 100%;
    height: 44px;
    border-radius: 6px;
    border: 0;
    outline: 0;
    background: #3b978d;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    transform-origin: center; /* giữ tâm khi scale */
}

.modalLogin__btn {
    display: inline-flex; /* hoặc inline-block */
    justify-content: center;
    align-items: center;
}

.modalLogin__btn:hover {
    color:white;
    background: #36867d;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* thêm shadow để đẹp hơn */
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: white;
    background-color: #4da198;
}

.modalLogin__options a {
    color: #3b978d;
}

.modalLogin__options a:hover {
    text-decoration: underline !important;
}


.header--menu ul li .sub-menu-lv1 li {
    line-height: 1
}

.header--menu ul li .sub-menu-lv1 li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px
}

.header--menu ul li .sub-menu-lv1 li a:hover {
    color: #facd49
}

.header--menu ul li .sub-menu-lv1 li a:after {
    display: none
}

.header--menu ul li .mega-menu {
    position: absolute;
    top: 101%;
    left: 0%;
    width: 62vw;
    height: auto;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 999;
    max-width: 100%;
    border-radius: 20px;
    max-width: 800px;
    display: none;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.header--menu ul li .mega-menu li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    line-height: 1
}

.header--menu ul li .mega-menu li a {
    color: #00375a;
    padding: 15px 15px;
    display: block;
    font-size: 120%;
    text-transform: uppercase
}

.header--menu ul li .mega-menu li a:hover {
    color: #facd49
}

.header--menu ul li .mega-menu li a:after {
    display: none
}

.header--menu ul li .mega-menu li .sub-menu {
    display: block
}

.header--menu ul li .mega-menu li .sub-menu li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.header--menu ul li .mega-menu li .sub-menu li a {
    padding: 10px 15px;
    font-size: 14px;
    text-transform: none
}

.header--menu ul li .mega-menu li .sub-menu li a:hover {
    color: #facd49
}

.header--menu ul li .mega-menu li .sub-menu li a small {
    margin-bottom: 10px;
    font-size: 12px;
    color: #facd49;
    display: block
}

.header--menu ul li .mega-menu li .sub-menu li a:after {
    display: none
}

.header--menu ul li a {
    font-size: 100%;
    color: #3B978D;
    font-weight: 600;
    padding: 0 10px
}

.header--menu ul li a:hover {
    color: #facd49
}

.header--menu ul li:last-child a {
    padding-right: 0
}

.header--menu ul li:first-child a {
    padding-left: 0
}

.header--menu ul .menu-childer a:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    margin-left: 10px
}

.header__acc{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.header__acc .sub-infor {
    position: absolute;
    top: 100%;
    left: 0px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 150px;
    border-radius: 10px;
    z-index: 100000;
    display: none;
    list-style: none;
    background: #0A7D70;
    padding: 0px;
}

.header__acc .sub-infor li:last-child a {
    border-bottom: 0
}

.header__acc .sub-infor li a {
    display: block;
    border-bottom: 1px solid #fbfbfb;
    padding: 10px;
    color: #fff;
    font-size: 14px
}

.header__acc .sub-infor li a:hover {
    color: #facd49
}

.header__acc.btn {
    margin-left: 12px
}

.header__acc.btn:first-child {
    margin: 0
}

.header--button---avata {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

.header--button---avata:hover .sub-infor {
    display: block
}

.header--button---avata img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover
}

.header--button---avata span {
    padding-left: 10px
}

.header--button---avata span svg {
    width: 10px
}

.header--infor {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.header--infor .link {
    margin-right: 30px;
    font-size: 100%;
    font-weight: 600;
    color: #111
}

@media screen and (max-width: 1199px) {
    .header--infor .link {
        display:none
    }
}

.header--infor .link:hover {
    color: var(--blue2)
}

.header--infor .link svg {
    margin-right: 10px;
    fill: #3B978D
}

.header--infor .link svg svg {
    fill: #3B978D
}
.avatar-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 64px;
    flex: 0 0 64px;
    max-width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    color: #2d241f;
    font-weight: bold;
    font-size: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center !important;
    display: flex;
    align-items: center;
}

.header--button---avata .sub-infor li a:hover {
    color: #facd49;
}

.relatedPosts__slider .slick-slide {
    margin: -1px 12px;
}


.post:hover .post__image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.post__image img {
    aspect-ratio: 282 / 186;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: .15s
    ease-in-out;
    transition: .15s
    ease-in-out;
}

.ratio.ratio-3 .count-custom {
    display: none !important;
}

.ratio-4 .count-custom {
    display: block;
    position: absolute;
    top: 0;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.3);
    z-index: 2;
    line-height: 200px !important;
    border-radius: 10px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ratio.ratio-4 .count-custom {
    display: flex;
    top: 0;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.3);
    z-index: 2;
    border-radius: 10px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
}

span.sale {
    padding: 5px;
    color: #fff;
    background: #0a7d70;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
}

h3.information {
    height: 120px;
    line-height: 120px;
    text-align: center;
    width: 100%;
}

.btn-close-custom {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-close-custom svg {
    width: 1em;
    height: 1em;
    fill: #000; /* đổi màu tại đây */
}
.modal-header.sticky-top {
    display: flex;
    align-items: center;
}

.modal-dialog .modal-header .title-left .modal-title {
    padding-top: 0px;
}
