

.site-res{
    position: relative;
    padding: 65px 0;
    background-size: cover;
    background-repeat: no-repeat;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: var(--Primery, #00375A);
    }
    &--content{
        h3{
            color: #FFF;
            font-size: 40px;
            font-weight: 600;
            line-height: 44px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        p{
            color: #FFF;
            font-size: 100%;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 35px;
            span{
                font-size: 180%;
            }
        }
        ul{
            @extend .flex;
            li{
                margin-right: 8px;
                a{
                    display: block;
                    &:hover{
                        transform:scale(1.1);
                    }
                    svg{
                        width: 35px;
                    }
                }
            }
        }
    }
    .form-res{
        form{
            position: relative;
            input{
                height: 60px;
                border:0;
                background: #fff;
                font-size: 100%;
                padding-left: 20px;
                border-radius: 8px;
            }
            .btn{
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 0px 8px 8px 0px;
                background: #FCBB13;
                height: 60px;
                min-width: 132px;
                color: #000;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.footer{
    background: #00375A;
    padding:55px 0px;
    position: relative;
    padding-top: 105px;
    .form-res{
        position: absolute;
        top: -60px;
        z-index: 5;
        left: 50%;
        width: 100%;
        transform:translate(-50%,0);
        max-width: 1200px;
        height: auto;
        padding: 20px;
        background: #fff;
        border:1px solid #EDF2F7;
        border-radius: 5px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.03);
        border-radius: 16px;
        .res-text{
            @extend .flex;
            .text{
                padding-left: 20px;
                h4{
                    font-size: 100%;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0;
                    width: 80%;
                }
            }
        }
        svg{
            width: 65px;
        }
        form{
            position: relative;
            input{
                height: 50px;
                border:0;
                background: #EDF2F7;
                font-size: 100%;
                padding-left: 20px;
                border-radius: 8px;
            }
            .btn{
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 0px 8px 8px 0px;
                background: #FCBB13;
                height: 50px;
                min-width: 132px;
                color: #000;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .footer-infor{
        margin-bottom: 20px;
        &--company{
            margin-bottom: 32px;
            p{
                text-transform: uppercase;
                font-size: 120%;
                color: #fff;
                margin-bottom: 8px;
            }
            span{
                display: block;
                color: rgba(255, 255, 255, 0.80);
                font-size: 90%;
                font-style: italic;
            }
        }
        ul{
            li{
                margin-bottom: 12px;
                display: flex;
                font-size: 90%;
                color: rgba(255, 255, 255, 0.80);
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    font-weight: bold;
                    @extend .flex;
                    flex:0 0 23%;
                    max-width: 23%;
                    svg{
                        margin-right: 10px;
                    }
                }
                p{
                    margin-bottom: 0;
                    max-width: 50%;
                }
            }
        }
    }
    .logo-ft{
        color: #fff;
        font-size: 32px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 24px;
        span{
            color: #FFB800;
        }
    }
    .title-ft{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    &-content{
        ul{
            li{
                margin-bottom: 12px;
                a{
                    display: block;
                    color: rgba(255, 255, 255, 0.80);
                    font-size: 90%;
                    font-style: normal;
                    line-height: 24px; 
                }
            }
        }
        .scl{
            a{
                @extend .flex;
                color: rgba(255, 255, 255, 0.80);
                font-size: 90%;
                font-style: normal;
                line-height: 24px;
                margin-bottom: 12px;
                svg{
                    width: 32px;
                    margin-right: 10px;
                }
            }
        }
    }
    a{
        &:hover{
            color: #fff !important;
        }
    }
}

.coppyright{
    padding:16px 0px;
    text-align: center;
    background: #002036;
    p{
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 10px;
    }
}


.menu-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 99999999;
    background: var(--blue);
    display: none;
    overflow: auto;
    padding-bottom: 50px;
    .js-close{
        @extend .flex;
        justify-content: flex-end;
        padding:10px 10px 20px 10px;
        font-size: 30px;
        color: #fff;
        span{
            display: block;
            padding-top: 5px;
            font-size: 12px;
        }
    }
    .search{
    	width: 95%;
    	margin:0 auto;
    	form{
    		position: relative;
    		button{
    			background: none;
    			outline: none;
    			position: absolute;
    			top: 0;
    			right: 0;
    			border:0;
    			width: 40px;
    			height: 40px;
    			svg{
    				width: 20px;
    				fill:#000;
                    path{
                        fill:#000 !important;
                    }
                }
            }
        }
        input{
            width: 100%;
            padding-left: 10px;
            border:0;
            outline: none;
            background:#fff;
            height: 40px;
            border-radius: 1px;
        }
    }
    ul{
        padding-top: 20px;
        li{
            a{
                display: block;
                padding: 15px 10px;
                font-size: 100%;
                text-transform: capitalize;
                color: #fff;
                font-weight: bold;
                border-bottom: 1px solid #979797;
                svg{
                    fill:var(--yellow);
                    margin-right: 10px;
                    path{
                        fill:var(--yellow);
                    }
                }
            }
        }
    }
    .mobile--button{
        @extend .flex;
        justify-content:center;
        margin-top: 20px;
        a{
            margin:0px 5px;
            font-weight: bold;
        }
    }
}

.css-mobile{
    display: none;
}


.modal--res{
    max-width: 500px !important;
    margin:0 auto;
}