
.header{
	position: relative;
	.js-show-mobile{
		position: absolute;
		top: 50%;
		right: 10px;
		transform:translate(0,-50%);
		display: none;
		@media screen and (max-width: 1199px){
			display: block;
		}
		svg{
			width: 30px;
			fill:#000;
			@media screen and (min-width: 765px){
				width: 40px;
			}
		}
	}
	&--logo{
		padding:15px 0px;

	}
	&--menu{
		ul{
			@extend .flex;
			justify-content:space-evenly;
			
			li{
				line-height: 60px;
				position: relative;
				&:hover{
					.mega-menu{
						display: flex;
					}
					.sub-menu-lv1{
						display: block;
					}
				}
				.sub-menu-lv1{
					position: absolute;
					top: 100%;
					left: 0%;
					width: max-content;
					min-width: 200px;
					height: auto;
					background: var(--blue);
					display: block;
					z-index: 999;
					max-width: 100%;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;
					max-width: 300px;
					padding: 10px 0px;
					display: none;
					li{
						line-height: 1;
						a{
							display: block;
							padding: 10px 15px;
							color: #fff;
							font-size: 14px;
							&:hover{
								color: var(--yellow);
							}
							&:after{
								display: none;
							}
						}
					}
				}
				.mega-menu{
					position: absolute;
					top: 100%;
					left: 0%;
					width: 62vw;
					height: auto;
					background: var(--blue);
					display: flex;
					flex-wrap:wrap;
					z-index: 999;
					max-width: 100%;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;
					max-width: 800px;
					display: none;
					align-items: flex-start;
					li{
						flex:0 0 33.333%;
						max-width: 33.333%;
						line-height: 1;
						a{
							color: #fff;
							padding:15px 15px;
							display: block;
							font-size: 120%;
							text-transform: uppercase;
							&:hover{
								color: var(--yellow);
							}
							&:after{
								display: none;
							}
						}
						.sub-menu{
							display: block;
							li{
								flex:0 0 100%;
								max-width: 100%;
								a{
									padding: 10px 15px;
									font-size: 14px;
									text-transform: none;
									&:hover{
										color: var(--yellow);
									}
									small{
										margin-bottom: 10px;
										font-size: 12px;
										color: var(--yellow);
										display: block;
									}
									&:after{
										display: none;
									}
								}
							}
						}
					}
				}
				a{
					font-size: 100%;
					color: var(--blue);
					font-weight: 600;
					padding:0px 10px;
					&:hover{
						color: var(--yellow);
					}
				}
				&:last-child{
					a{
						padding-right: 0;
					}
				}
				&:first-child{
					a{
						padding-left: 0;
					}
				}
			}
			.menu-childer{
				a{
					@extend .flex;
					&:after{
						content: '';
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 6px solid #000;
						margin-left: 10px;
					}
				}
			}
		}
	}
	&--button{
		@extend .flex;
		justify-content:flex-end;
		position: relative;

		.sub-infor{
			position: absolute;
			top: 100%;
			left: 0;
			width: max-content;
			min-width: 200px;
			background: var(--blue);
			border-radius: 10px;
			z-index: 9;
			display: none;
			li{
				&:last-child{
					a{
						border-bottom: 0;
					}
				}
				a{
					display: block;
					border-bottom: 1px solid #fbfbfb;
					padding:10px;
					color: #fff;
					font-size: 14px;
					&:hover{
						color: var(--yellow);
					}
				}
			}
		}
		.btn{
			margin-left: 12px;
			&:first-child{
				margin:0;
			}
		}
		&---avata{
			@extend .flex;
			cursor: pointer;
			position: relative;
			&:hover{
				.sub-infor{
					display: block;
				}
			}
			img{
				width: 36px;
				height: 36px;
				border-radius: 50%;
				object-fit:cover;
			}
			span{
				padding-left: 10px;
				svg{
					width: 10px;
				}
			}
		}
	}
}


.header--infor{
	@extend .flex;
	justify-content:flex-end;
	
	.link{
		@extend .flex;
		margin-right: 30px;
		font-size: 100%;
		font-weight: 600;
		color: #111;
		@media screen and (max-width: 1199px){
			display: none;
		}
		&:hover{
			color: var(--blue2);
		}
		svg{
			margin-right: 10px;
			fill:var(--blue);
			svg{
				fill:var(--blue);
			}
		}
	}
}