
.site-banner{
	&--filter{
		.title-banner{
			text-align: center;
			color: var(--Primery, #00375A);
			text-align: center;
			font-family: "Be Vietnam Pro";
			font-size: 48px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 100px;
		}
	}
}

.site-infor{
	background: var(--blue);
	padding-bottom: 25px;
	.title-main{
		text-align: center;
		.heading,
		.text{
			color: #fff;
		}
	}
	.items{
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.24);
		padding:32px;
		height: 100%;
		h3{
			font-size: 120%;
			color: #fff;
			font-weight: 500;
			margin-bottom: 24px;
		}
		svg{
			width: 57px;
		}
		p{
			margin:0;
			margin-top: 20px;
			color: #CCD7DE;
			font-size: 90%;
			font-weight: 300;
		}
	}
}

.site-fsale--home{
	padding-top: 0;
	background: #fff;
	.title-fsale-home{
		margin-bottom: 24px;
		padding: 20px 0px;
		position: relative;
		.container{
			position: relative;
			z-index: 5;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 40%;
			height: 100%;
			background-image: url(../svg/bg-title.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 3;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 70%;
			background: var(--yellow);
		}
		.shadown{
			position: absolute;
			bottom: 0px;
			width: 211px;
			height: 70%;
			left: 30.5%;
			z-index: 1;
			svg{
				width: 100%;
				height: 100%;
			}
		}
		h2{
			font-size: 150%;
			font-weight: 500;
			margin-bottom: 10px;
		}
	}
}

.site-tabcontent--home{
	.tab-nav{
		ul{
			li{
				a{
					border-radius: 5px;
					padding: 10px 10px;
					border-color: var(--blue);
					color: var(--blue);
					background: transparent;
				}
			}
		}
	}
	.slick-fsale{
		margin:0px -12px;
		margin-bottom: 24px;
		.slick-slide{
			padding: 0px 12px;
		}
	}
}


.site-about{
	position: relative;
	padding-bottom: 100px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 280px;
		background-image: url(../svg/bg1.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		opacity: 0.1;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		transform:translate(0,-50%);
		right: 0;
		width: 115px;
		height: 230px;
		background-image: url(../svg/bg2.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.content{
		h2{
			font-size: 150%;
			color: var(--blue);
			font-weight: 500;
			margin-bottom: 24px;
		}
		p{
			color: var(--Text-content, #4D4D4D);
			font-weight: 300;
			font-size: 90%;
			margin-bottom: 40px;
		}
	}
	.images{
		position: relative;
		img{
			border-radius: 20px;
		}
		&--2{
			position: absolute;
			bottom: -50px;
			right: -50px;
			width: 188px;
			height: 188px;
			padding: 5px;
			border-radius: 50%;
			background: #fff;
			img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
	}
}



.site-banner{
	&--filter{
		.title-banner{
			text-align: center;
			color: var(--Primery, #00375A);
			text-align: center;
			font-family: "Be Vietnam Pro";
			font-size: 48px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 100px;
		}
	}
}

.site-infor{
	background: var(--blue);
	padding-bottom: 25px;
	.items{
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.24);
		padding:32px;
		height: 100%;
		h3{
			font-size: 120%;
			color: #fff;
			font-weight: 500;
			margin-bottom: 24px;
		}
		svg{
			width: 57px;
		}
		p{
			margin:0;
			margin-top: 20px;
			color: #CCD7DE;
			font-size: 90%;
			font-weight: 300;
		}
	}
}

.site-fsale--home{
	padding-top: 0;
	background: #fff;
	.title-fsale-home{
		margin-bottom: 24px;
		padding: 20px 0px;
		position: relative;
		.container{
			position: relative;
			z-index: 5;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 45%;
			height: 100%;
			background-image: url(../svg/bg-title.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 3;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 70%;
			background: var(--yellow);
		}
		.shadown{
			position: absolute;
			bottom: 0px;
			width: 211px;
			height: 70%;
			left: 35.5%;
			z-index: 1;
			svg{
				width: 100%;
				height: 100%;
			}
		}
		h2{
			font-size: 150%;
			font-weight: 500;
			margin-bottom: 10px;
		}
	}
}

.site-tabcontent--home{
	.tab-nav{
		ul{
			li{
				a{
					border-radius: 5px;
					padding: 10px 10px;
					border-color: var(--blue);
					color: var(--blue);
					background: transparent;
				}
			}
		}
	}
	.slick-fsale{
		margin:0px -12px;
		margin-bottom: 24px;
		.slick-slide{
			padding: 0px 12px;
		}
	}
}


.site-about{
	position: relative;
	padding-bottom: 100px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 280px;
		background-image: url(../svg/bg1.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		opacity: 0.1;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		transform:translate(0,-50%);
		right: 0;
		width: 115px;
		height: 230px;
		background-image: url(../svg/bg2.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.content{
		h2{
			font-size: 150%;
			color: var(--blue);
			font-weight: 500;
			margin-bottom: 24px;
		}
		p{
			color: var(--Text-content, #4D4D4D);
			font-weight: 300;
			font-size: 90%;
			margin-bottom: 40px;
		}
	}
	.images{
		position: relative;
		img{
			border-radius: 20px;
		}
		&--2{
			position: absolute;
			bottom: -50px;
			right: -50px;
			width: 188px;
			height: 188px;
			padding: 5px;
			border-radius: 50%;
			background: #fff;
			img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
	}
}


.site-aboutus{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 280px;
		background-image: url(../svg/bg1.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		opacity: 0.1;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		transform:translate(0,-50%);
		right: 0;
		width: 115px;
		height: 230px;
		background-image: url(../svg/bg2.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.title{
		font-size: 150%;
		font-weight: 500;
		color: var(--blue);
		margin-bottom: 24px;
	}
	.items{
		.content{
			max-width: 543px;
		}
		h3{
			font-size: 200%;
			color: var(--blue);
			font-weight: 500;
			margin-bottom: 15px;
			text-transform: capitalize;
		}
		p{
			color: var(--Text-content, #4D4D4D);
			font-weight: 300;
			font-size: 90%;
			margin-bottom: 32px;
		}
		.date{
			@extend .flex;
			font-size: 90%;
			color: #808080;
			margin-bottom: 28px;
			span{
				padding: 0px 10px;
				padding-left: 5px;
			}
		}
	}
	.images{
		padding-left: 37px;
		padding-bottom: 44px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: calc(100% - 37px);
			height: calc(100% - 44px);
			border-radius: 28px;
			background: #EEF9FF;
		}
		img{
			position: relative;
			z-index: 5;
			border-radius: 20px;
		}
	}
	.slick-arrow{
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-size: 10px;
		top: calc(100% - 25px);
	}
	.slick-prev{
		left: 160px;
	}
	.slick-next{
		right: calc(100% - 270px);
	}
}

.title-main{
	margin-bottom: 20px;
	.heading{
		font-size: 24px;
		color: var(--blue);
		font-weight: bold;
		margin-bottom: 0;
		text-transform: none;
	}
	.text{
		color: rgba(0, 55, 90, 0.70);
		margin-top: 10px;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 0;
	}
}

.site-pn{
	background: #FFFAEE;
	.slick-track{
		display: flex;
		&:before,&:after{
			display: none;
		}
		.slick-slide{
			height: auto;
			>div{
				height: 100%;
			}
			.items-pn,ul, ul li{
				height: 100%;
			}
		}
	}
	ul{
		margin:0px -5px;
		li{
			padding: 0px 5px;
			ul{
				margin:0px -5px;
				li{
					padding: 0px 5px;
				}
				li:last-child{
					height: auto;
					.items{
						height: auto;
						margin-bottom: 10px;
						&:last-child{
							margin-bottom: 0;
						}
						.ratio{
							padding-bottom: 65%;
						}
					}
				}
			}
		}
	}
	.mobile-css{
		display: none;
		.items{
			height: auto;
			margin-bottom: 10px;
		}
	}
	.items{
		position: relative;
		height: 100%;
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
		}
		p{
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px;
			font-size: 16px;
			font-weight: 500;
			width: 100%;
			color: #fff;
			margin-bottom: 0;
		}
		.ratio{
			padding-bottom: 100%;
			height: 100%;
		}
		img{
			border-radius: 10px;
		}
		.lg{
			position: absolute;
			top: 10px;
			left: 10px;
			width: 60px;
			height: 60px;
			padding:10px;
			background: #fff;
			border-radius: 5px;
			img{
				width: 100%;
				height: 100%;
				object-fit:contain;
			}
		}
	}
	.slick-arrow{
		top: 50%;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border:0;
		box-shadow: 0 2px 8px 0 rgba(26,26,26,0.16);
		background-color: #fff;
		background-size: 10px;
	}
	.slick-next{
		right: -18px;
	}
	.slick-prev{
		left: -18px;
	}
}

.site-cnkh{
	.slick-cnkh{
		margin:0px -12px;
		.items{
			padding: 0px 12px;
		}
	}
	.items-content{
		padding: 35px;
		background-color: #fff;
		border-radius: 10px;
		border:1px solid #efefef;
		background-image: url(../svg/que.svg);
		background-position: 95% 10%;
		background-repeat: no-repeat;
		background-size: 40px;
		.items-av{
			display: flex;
			align-items:center;
			margin-bottom: 24px;
			img{
				width: 52px;
				height: 52px;
				border-radius: 50%;
				object-fit:cover;
			}
			.text{
				padding-left: 16px;
				h4{
					font-size: 120%;
					color: #2D2D2D;
					font-weight: 600;
					margin-bottom: 5px;
				}
				span{
					color: var(--Text-third, #666);
					font-size: 13px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					a{
						color: var(--blue);
					}
				}
			}
		}
		p{
			color: #4D4D4D;
			margin-bottom: 32px;
			font-size: 14px;
		}
		.start{
			@extend .flex;
			justify-content:center;
		}
	}
	.slick-arrow{
		background-color: #fff;
	}
}

.site-address{
	position: relative;
	overflow: hidden;
	.title-main{
		margin-bottom: 40px;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		height: 50%;
		border-radius: 100%;
		background: #FFFAEE;
		filter: blur(100px);
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70%;
		height: 50%;
		border-radius: 100%;
		background: #EEF9FF;
		filter: blur(100px);
	}
	.container{
		position: relative;
		z-index: 5;
	}
}

.maps-custom{
	position: relative;
	.list-address-left{
		@media screen and (min-width: 1200px){
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%;
		}
		
		.list{
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	.list-address-right{
		@media screen and (min-width: 1200px){
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50%;
		}
		.list{
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	.map{
		max-width: 300px;
		margin:0 auto;
		position: relative;
		svg{
			position: absolute;
			top: 14%;
			left: 37%;
			transform:translate(-50%,0);
			width: 30px;
		}
	}
	.list-address-left{
		@media screen and (min-width: 1200px){
			.items{
				position: absolute;
				&:nth-child(1){
					top: 84px;
					left: 67px;
				}
				&:nth-child(2){
					top: 0;
					right: 180px;
				}
				&:nth-child(3){
					right: 95px;
					top: 166px;
					.images--img{
						img{
							width: 132px;
							height: 132px;
						}
					}
				}
				&:nth-child(4){
					bottom: 0;
					right: 110px;
				}
				&:nth-child(5){
					left: 67px;
					bottom: 40px;
					.images--img{
						img{
							width: 158px;
							height: 158px;
						}
					}
				}
				&:nth-child(6){
					left: 49%;
					top: 55%;
					transform:translate(-50%,-50%);
					.images--img{
						img{
							width: 155px;
							height: 155px;
						}
					}
				}
			}
		}
	}

	.list-address-right{
		@media screen and (min-width: 1200px){
			.items{
				position: absolute;
				&:nth-child(1){
					top: 84px;
					left: 20%;
				}
				&:nth-child(2){
					top: 0;
					left: 60%;
					transform:translate(-50%,0);
					.images--img{
						img{
							width: 132px;
							height: 132px;
						}
					}
				}
				&:nth-child(3){
					right:0px;
					top: 70px;
					.images--img{
						img{
							width: 155px;
							height: 155px;
						}
					}
				}
				&:nth-child(4){
					bottom: 0;
					right: 110px;
				}
				&:nth-child(5){
					left: 31%;
					bottom: 13%;
					.images--img{
						img{
							width: 132px;
							height: 132px;
						}
					}
				}
				&:nth-child(6){
					left: 60%;
					top: 47%;
					transform:translate(-50%,-50%);
					.images--img{
						img{
							width: 132px;
							height: 132px;
						}
					}
				}
			}
		}
	}
	
	.images--img{
		position: relative;
		width: max-content;
		overflow: hidden;
		border-radius: 50%;
		transition:all .3s;
		&:hover{
			img{
				transform:scale(1.1);
			}
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			display: block;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			z-index: 5;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 80%);
		}
		img{
			width: 170px;
			height: 170px;
			border-radius: 50%;
			object-fit:cover;
		}
		span{
			position: absolute;
			bottom: 20px;
			left:0;
			width: 100%;
			text-align: center;
			text-transform: capitalize;
			display: block;
			font-size: 18px;
			color: #fff;
			line-height: 1.3;
			z-index: 8;
		}
	}
}

.feaNews{
	.btn{
		margin:0 auto;
		margin-top: 40px;
	}
}
.bg-white{
	background: #fff;
}

.site-slider-banner{
	padding: 30px 0px;
	.slick-slider-banner{
		margin:0px -10px;
		.slick-slide{
			padding: 0px 10px;
		}
	}
	.ratio{
		padding-bottom: 45%;
		border-radius: 5px;
		overflow: hidden;
	}
}

.site-kh{
	&--custom{
		padding-bottom: 50px;
	}
	.nav{
		margin-bottom: 20px;
		flex-wrap: nowrap;
		width: 100%;
		overflow: auto;
		li{
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
			a{
				@extend .flex;
				font-size: 100%;
				color: #111;
				border:1px;
				padding:10px;
				border-radius: 30px;
				svg{
					margin-right: 5px;
				}
			}
			.active{
				border:1px solid var(--blue);
				background: rgba(0,108,228,0.06);
				color: var(--blue);
			}
		}
	}
	.slick-kh{
		margin:0px -10px;
		.slick-slide{
			padding: 0px 10px;
		}
	}
	.items{
		.ratio{
			padding-bottom: 75%;
			border-radius: 8px;
		}
		h3{
			a{
				display: block;
				margin:15px 0px 10px 0px;
				font-size: 90%;
				font-weight: bold;
				color: #000;
			}
		}
		span{
			display: block;
			font-size: 85%;
		}
	}
	.slick-arrow{
		top: 40%;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border:0;
		box-shadow: 0 2px 8px 0 rgba(26,26,26,0.16);
		background-color: #fff;
		background-size: 10px;
	}
	.slick-next{
		right: -10px;
	}
	.slick-prev{
		left: -10px;
	}
}

.site-menu-ft{
	padding-bottom: 100px;
	ul{
		li{
			flex:0 0 calc(100% / 6);
			max-width: calc(100% / 6);
			margin-bottom: 15px;
			a{
				display: block;
				font-size: 100%;
				color: #000;
				&:hover{
					color: var(--blue);
				}
			}
		}
	}
	.title-main{
		margin-bottom: 30px;
	}
}

.site-mobile-icon{
	padding-top: 30px;
	display: none;
	ul{
		@extend .flex;
		flex-wrap:wrap;
		justify-content:center;
		li{
			a{
				text-align: center;
				display: block;
				span{
					display: block;
				}
				.icon{
					width: 35px;
					height: 35px;
					border-radius: 50%;
					background: var(--blue);
					display: flex;
					align-items:center;
					justify-content:center;
					margin:0 auto;
					margin-bottom: 5px;
				}
				.t{
					font-size: 14px;
					color: #000;
				}
				svg{
					fill:#fff;
					path{
						fill:#fff;
					}
				}
			}
		}
	}
}

.mobile-css{
	display: none;
}