
.the_content{
	font-size: 14px;
	line-height: 1.5;
	color: var(--gray);
	ul{
		list-style: disc;
		padding-left: 18px;
		margin-bottom: 20px;
		li{
			line-height: 1.5;
			margin-bottom: 10px;
			img{
				width: 20px;
			}
		}
	}
}


.daterangepicker{
	width: 47.5%;
	margin-top: 35px;
	font-size: 14px;
	.drp-calendar{
		width: 50%;
		max-width: 100%;
	}
	th.month{
		padding:15px 0px;
		font-size: 16px;
	}
	tr{
		td{
			font-size: 100%;
			padding:5px 0px;
		}
	}
	thead{
		tr{
			&:last-child{
				th{
					&:nth-child(6){
						color: var(--red);
					}
					&:last-child{
						color: var(--red);
					}
				}
			}
		}
	}
}

.modal-dialog{
	max-width: 1200px;
	.modal-header{
		align-items: flex-start;
		justify-content: space-between;
		background: #fff;
		z-index: 5;
		.close{
			border:0;
			outline: none;
			font-size: 40px;
			padding: 0 5px;
			border-radius: 5px;
		}
		.title-left{
			.modal-title{
				font-size: 20px;
			}
			span{
				color: #48BB78;
				font-size: 12px;
				margin-top: 10px;
				display: block;
			}
		}
	}
	.page-raiting{
		padding:20px 15px;
		.raiting--cl{
			flex:0 0 100%;
			max-width: 100%;
			text-align: center;
			&---content{
				margin:0 auto;
			}
			p{
				font-size: 90%;
				margin-top: 10px;
				margin-bottom: 0;
			}
		}
		.raiting--infor{
			flex:0 0 100%;
			max-width: 100%;
			padding:20px 0px;
			border-right: 0;
			&--items{
				p{
					font-size: 14px;
				}
			}
		}
		.raiting--infor2{
			border-top: 1px solid #ccc;
		}
		.select-sx{
			border:1px solid #ccc;
			padding: 10px;
			width: max-content;
			margin-left: auto;
			border-radius: 5px;
			margin-bottom: 20px;
		}
		.nav-top{
			border-bottom: 0;
			ul{
				li{
					a{
						border-radius:5px;
					}
				}
			}
		}
		.details-raiting--content{
			height: max-content;
			overflow-y: scroll;
			max-height: 535px;
			overflow-x: hidden;
			padding-right: 10px;
			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 6px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				background-color: #bdbdbd;
			}
			.items{
				&--name{
					display: block;
					&---content{
						padding-left: 0;
						padding-top: 10px;
					}
				}
			}
		}
	}
	.maps{
		width: 100%;
		height: 100vh;
		max-height: 600px;
	}

}

.content-tn-hotel{
	.items{
		margin-bottom: 5px;
		h6{
			font-size: 16px;
			margin-bottom: 15px;
		}
		ul{
			@extend .flex;
			flex-wrap:wrap;
			margin:0px -5px;
			li{
				flex:0 0 33.333%;
				max-width: 33.333%;
				@extend .flex;
				font-size: 14px;
				margin-bottom: 15px;
				padding:0px 5px;
				line-height: 1.3;	
				@media screen and (max-width: 600px){
					flex:0 0 50%;
					max-width: 50%;
				}
				img{
					width: 22px;
				}
				span{
					display: block;
					padding-left: 10px;
				}
			}
		}
	}
}

.modal-album{
	.modal-dialog{
		max-width: 90%;
	}
	.raiting--infor{
		border-top:0 !important;
	}
	.page-raiting{
		padding-top: 20px;
		margin-top: 20px;
		border-top: 1px solid #ccc;
		background-color: #F7FAFC;
		h5{
			font-weight: bold;
			color: #000;
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
	.sidebar-modal{
		.dg{
			@extend .flex;
			padding-bottom: 16px;
			margin-bottom: 16px;
			border-bottom: 1px solid #ccc;
			&-f{
				color: #fff;
				flex:0 0 56px;
				max-width: 56px;
				height: 56px;
				display: flex;
				font-size: 24px;
				align-items: center;
				font-weight: 600;
				line-height: 29px;
				border-radius: 8px;
				justify-content: center;
				background-color: #F36;
			}
			&-content{
				padding-left: 10px;
				p{
					font-weight: bold;
					color: #000;
					margin-bottom: 5px;
				}
				span{
					color: #718096;
				}
			}
		}
		&--content{
			overflow-x:hidden;
			overflow-y: auto;
			max-height: 695px;
			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 6px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				background-color: #bdbdbd;
			}
			.tl{
				font-size: 100%;
				font-weight: bold;
				margin-bottom: 10px;
				display: block;
			}
			.items{
				@extend .flex;
				margin-bottom: 10px;
				.img{
					flex:0 0 40px;
					max-width: 40px;
					height: 40px;
					display: flex;
					overflow: hidden;
					position: relative;
					font-size: 20px;
					align-items: center;
					flex-shrink: 0;
					line-height: 1;
					user-select: none;
					border-radius: 50%;
					justify-content: center;
					color: #fff;
					background-color: #bdbdbd;
				}
				.name{
					padding: 10px;
					border-radius: 16px;
					overflow-wrap: anywhere;
					margin-left: 10px;
					background-color: rgba(237, 242, 247, 0.7);
					p{
						font-size: 12px;
						font-weight: bold;
						margin-bottom: 5px;
					}
					span{
						font-size: 14px;
						display: block;
					}
				}
			}
		}
	}
}

.album-table{
	.nav{
		display: flex;
		margin:0px -5px;
		margin-bottom: 20px;
		li{
			padding: 0px 5px;
			flex:0 0 16%;
			max-width: 16%;
			a{
				position: relative;
				text-align: center;
				padding: 0;
				display: block;
				.ratio{
					padding-bottom: 60%;
					border-radius: 5px;
					overflow: hidden;
				}
				img{
					display: block;
					width: 100%;
					
				}
				span{
					display: block;
					padding-top: 10px;
					font-size: 14px;
					color: var(--gray);
					line-height: 1.3;
				}
			}
			.active{
				.ratio{
					border-color:1px solid var(--blue);
				}
				span{
					color: var(--blue);
					font-weight: bold;
				}
			}
		}
	}
	.tab-content{
		overflow-x:hidden;
		overflow-y: auto;
		max-height: 610px;
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar
		{
			width: 6px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color: #bdbdbd;
		}
		.row-custom{
			margin:0px -2.5px;
			.col-custom{
				padding:0px 2.5px;
			}
		}
		.ratio{
			margin-bottom: 5px;
			padding-bottom: 70%;
		}
	}
}

.mdal-details-room{
	.nav{
		margin-bottom: 20px;
		li{
			padding-right: 30px;
			a{
				padding: 10px 0px;
				font-size: 100%;
				color: #000;

			}
			.active{
				color: var(--blue);
				font-weight: bold;
			}
		}
	}
	.tab-pane--album{
		img{
			display: block;
			width: 100%;
			border-radius: 5px;
		}
		.img-top{
			padding-bottom: 60%;
		}
		.img-b{
			width: 100%;
			display: flex;
			margin-top: 10px;
			overflow: auto;
			padding-bottom: 10px;
			.img{
				margin-right: 10px;
				flex:0 0 88px;
				max-width: 88px;
				padding-bottom: 10%;
				img{

				}
			}
			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 6px;
				background-color: #000;
				height: 10px;
			}

			&::-webkit-scrollbar-thumb
			{
				background-color: #bdbdbd;
			}
		}
	}
	.infor-room{
		@media screen and (max-width: 1199px){
			padding-top: 20px;
		}
		&--custom{
			@extend .flex;
			margin-bottom: 24px;
			span{
				@extend .flex;
				padding-right: 25px;
				img{
					margin-right: 5px;
				}
			}
		}
		&--li{
			h4{
				font-weight: 600;
				margin-bottom: 12px;
				color: #00375A;
			}
			a{
				display: inline-block;
				padding: 4px 12px;
				border-radius: 10px;
				background: #F2F7F9;
				color: var(--blue);
				margin-right: 10px;
				margin-bottom: 10px;
				line-height: 1.3;
				&:hover{
					background-color: var(--blue);
					color: #fff !important;
				}
			}
		}
		&--tnr{
			margin-top: 15px;
			h4{
				font-weight: 600;
				margin-bottom: 12px;
				color: #00375A;
			}
			.tnr{
				@extend .flex;
				font-size: 90%;
				color: #00375A;
				font-weight: bold;
				margin-bottom: 12px;
				svg{
					margin-right: 5px;
				}
			}
			ul{
				li{
					@extend .flex;
					font-size: 13px;
					margin-bottom: 10px;
					color: #00375A;
					&:last-child{
						margin-bottom: 0;
					}
					svg{
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.mdal-ss-room{
	.row-custom{
		margin:0px -10px;
		.col-custom{
			padding: 0px 10px;
		}
	}
	.items{
		position: relative;
		margin-bottom: 20px;
		.js-close-ss{
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 5;
			font-size: 30px;
			width: 30px;
			height: 30px;
			background: #fff;
			border-radius: 50%;
			text-align: center;
			cursor: pointer;
			svg{
				fill:#000;
				path{
					fill:#000;
				}
			}
		}
		&:hover{
			h3{
				a{
					color: var(--blue2);
				}
			}
		}
		.ratio{
			padding-bottom: 60%;
			border-radius: 5px;
		}
		h3{
			a{
				display: block;
				font-size: 100%;
				line-height: 1.5;
				color: var(--blue);
				padding:10px 0px;
			}
		}
		ul{
			li{
				display: flex;
				align-items:center;
				justify-content:space-between;
				margin-bottom: 5px;
				&:last-child{
					margin-bottom: 0;
				}
				span{
					font-size: 14px;
				}
				p{
					font-weight: 600;
					font-size: 16px;
					margin-bottom: 0;
					color: var(--blue);
				}
			}
		}
	}
	.benefit{
		h4{
			border: 1px solid var(--Line-strock, #E5E5E5);
			background: #F6F6F6;
			text-align: center;
			padding: 10px 0px;
			color: var(--blue);
			font-size: 90%;
			font-weight: 600;
			margin-bottom: 20px;
		}
		&--content{
			margin-bottom: 20px;
			ul{
				list-style: disc;
				padding-left: 18px;
				li{
					font-size: 14px;
					padding-bottom: 5px;
					line-height: 1.5;
				}
			}
		}
	}
}

.mdal-book-room{
	max-width: 800px;
	.form-group{
		margin-bottom: 1rem;
	}
	.form-control{
		height: 45px;
		border:1px solid var(--blue);
	}
	textarea.form-control{
		height: 100px;
	}
	label{
		display: block;
		margin-bottom: 10px;
		font-size: 100%;
	}
	.price{
		margin-bottom: 20px;
		p{
			font-size: 14px;
			font-style: italic;
			margin-bottom: 10px;
		}
	}
}