/*
* Create by ChuTran - 16/07/2024
*/
$colorPrimary: #00375A;
$colorPrimary2: #FF8B26;
$colorSecondary: #26333B;
$colorSecondary2: #6A657E;

img,
iframe,
video {
    max-width: 100%;
}

ul,
ol,
li {
    line-height: 1.5;
}

.container {
    max-width: 1230px;
}

.topPage {
    height: 240px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #F9FCFF;
    color: #fff;
    gap: 12px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($color: #12191E, $alpha: 0.4);
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    &__divider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 240px;
        height: 18px;
        background-image: url(../images/toppage-divider.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        background-color: none;
    }

    &--contact {
        .topPage__divider {
            background-image: url(../images/tp-divider-contact.png);
        }
    }
    &--static {
        .topPage__divider {
            background-image: url(../images/tp-divider-static.png);
        }
    }
}

.pageHeading {
    font-size: 24px;
    font-weight: 500;
    color: $colorPrimary;
}

.post {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #E5E5E5;
    transition: .15s ease-in-out;

    &__image {
        border-radius: 8px 8px 0px 0px;
        aspect-ratio: 282/186;

        img {
            aspect-ratio: 282/186;
            object-fit: cover;
            transition: .15s ease-in-out;
        }
    }

    &__content {
        row-gap: 12px;
        padding: 15px 24px 24px;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: $colorSecondary;
        line-height: 1.4;

        a {
            color: $colorSecondary;
            display: -webkit-box;
            max-height: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            &:hover {
                color: $colorPrimary;
            }
        }
    }

    &__excerpt {
        font-size: 14px;
        font-weight: 400;
        color: $colorSecondary2;
        display: -webkit-box;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        max-height: 63px;
    }

    &__meta {
        font-size: 13px;
        font-weight: 400;
        color: #808080;

        >* {
            display: flex;
            gap: 3px;
            align-items: center;

            &::before {
                content: "";
                flex-shrink: 0;
                display: block;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                object-fit: contain;
            }

            &.date {
                &::before {
                    background-image: url(../images/icon-calendar.svg);
                    background-size: 24px;
                }
            }

            &.viewCount {
                &::before {
                    background-image: url(../images/icon-eye.svg);
                    background-size: 20px;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0px 5px 20px -5px rgba($color: #000000, $alpha: 0.1);

        .post__image {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.feaNews {
    background: #F9FCFF;
    padding: 40px 0px 30px;

    &__list {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: row;

        >.post {
            background: none;
            border: 0;
            grid-column: span 3;
            grid-row: span 1;

            .post__image {
                border-radius: 8px;
            }

            .post__content {
                padding: 15px 0px 0px;
            }

            &:first-child {
                row-gap: 0 !important;
                grid-column: span 6;
                grid-row: span 2;

                .post__image {
                    aspect-ratio: unset;
                    height: 100%;

                    img {
                        aspect-ratio: unset;
                    }
                }

                .post__content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 24px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
                    border-radius: 8px;
                }

                .post__title {
                    font-size: 24px;
                    font-weight: 700;
                    color: #fff;

                    a {
                        color: #fff;
                        max-height: 68px;

                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }

                .post__meta {
                    color: #fff;

                    >* {
                        filter: brightness(2);
                    }
                }
            }

            &:hover {
                box-shadow: none;
            }
        }
    }
    @media (max-width: 992px) {
       &__list {
        >.post {
            grid-column: span 12 !important;
            grid-row: span 1 !important;
        }
       } 
    }
}

.recentNews {
    background: #F9FCFF;
    padding: 30px 60px;

    &__list {
        margin-left: -12px;
        margin-right: -12px;

        >* {
            padding: 0px 12px;
        }
    }
}

.entry-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    figure {
        margin-bottom: 24px;

        figcaption {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            color: #666;
            font-style: italic;
            padding-top: 10px;
        }
    }

    p {
        figure {
            margin-bottom: 0;
        }
    }

    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    ol, ul {
        padding-left: 2rem;
        list-style-type: none;
        li {
            margin-bottom: 5px;
        }
    }
}

.highlightLink {
    background: $colorPrimary2;
    color: #fff;
    font-size: 16px;
    font-weight: 400;

    &__text {
        >a {
            color: #fff;
            font-weight: 500;
            text-decoration: underline !important;
            margin-right: 10px;
        }
    }

    &__btn {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon-backlink.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 10px 20px;
    }
}

.newsDetail {
    &__title {
        font-size: 32px;
        font-weight: 600;
        color: $colorPrimary;
    }

    &__suggest {
        gap: 12px;
        background: #FFFAEE;

        .title {
            font-size: 16px;
            font-weight: 500;
            color: $colorPrimary;
        }

        .list {
            gap: 12px;

            a {
                width: fit-content;
                max-width: 100%;
                font-size: 16px;
                font-weight: 400;
                color: #D26B3E;

                &:hover {
                    color: $colorPrimary;
                }
            }
        }
    }

    @media (max-width: 992px) {
        &__title {
            font-size: 26px;
        }
    }
}

.blockSibar {
    row-gap: 20px;

    &__title {
        font-size: 20px;
        font-weight: 500;
        color: $colorPrimary;
    }
}

.postSibar {
    padding: 12px 0px;
    gap: 12px;
    border-bottom: 1px solid #E5E5E5;

    &__image {
        width: 114px;
        aspect-ratio: 114/72;
        background-color: #E5E5E5;
        border-radius: 4px;

        img {
            aspect-ratio: 114/72;
            object-fit: cover;
        }
    }

    &__content {
        gap: 8px;
    }

    &__title {
        font-size: 14px;
        font-weight: 400;
        color: $colorSecondary;
        line-height: 1.4;

        a {
            color: $colorSecondary;

            &:hover {
                color: $colorPrimary;
            }
        }
    }

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.shareIcons {
    &__title {
        font-size: 16px;
        font-weight: 500;
        color: $colorPrimary;
    }

    &__list {
        .icon {
            border-radius: 50%;
            overflow: hidden;
            width: 36px;
            height: 36px;
            transition: .15s ease-in-out;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 0px 10px -3px rgba($color: #000000, $alpha: 0.5);
            }
        }
    }
}

.relatedPosts {
    padding: 50px 0px;
    background: #EEF9FF;

    &__title {
        font-size: 30px;
        font-weight: 500;
        color: $colorPrimary;
    }

    &__des {
        font-size: 13px;
        font-weight: 400;
        color: rgba(0, 55, 90, 0.7);
    }

    &__slider {
        .slick-list {
            margin-left: -12px;
            margin-right: -12px;
        }

        .slick-slide {
            padding: 0px 12px;
        }

        .slick-arrow {
            background-color: #fff;
        }

        .slick-prev {
            left: unset;
            right: 100%;
        }

        .slick-next {
            right: unset;
            left: 100%;
        }
    }

    &__viewall {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: $colorPrimary;
        padding: 12px 14px;
        border-radius: 8px;
        transition: .15s ease-in-out;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 0px 10px -3px rgba($color: #000000, $alpha: 0.2);
        }
    }
}

.breadcrumbWrap {
    background: rgba(249, 252, 255, 1);
}

.breadcrumb {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #808080;

    >a {
        color: $colorPrimary;

        &:hover {
            text-decoration: underline !important;
        }
    }

    .separator {
        display: inline-block;
        width: 6px;
        height: 12px;
        background-image: url(../images/icon-next.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 6px 12px;
        margin: 0px 10px;
    }
}

.toc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;

    &__title {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: $colorPrimary;
        background: #F6F6F6;
        border: 1px solid #E5E5E5;
        border-radius: 8px;
        padding: 12px;
        cursor: pointer;
        transition: .15s ease-in-out;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
        }

        &::before {
            background-image: url(../images/icon-list.svg);
            background-size: 18px 12px;
            margin-right: 10px;
        }

        &::after {
            background-image: url(../images/icon-down.svg);
            background-size: 18px 9px;
            margin-left: auto;
        }

        &:hover {
            filter: brightness(0.98);
        }

        &.show {
            border-radius: 8px 8px 0px 0px;
        }
    }

    &__list {
        flex-grow: 1;
        display: none;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        max-height: 350px;
        padding: 16px 24px;
        border: 1px solid #E5E5E5;
        border-top: 0;

        li {
            margin-bottom: 8px;

            a {
                font-size: 14px;
                font-weight: normal;
                color: $colorPrimary;

                &:hover {
                    text-decoration: underline !important;
                }
            }

            ul {
                padding-top: 8px;
                padding-left: 12px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        >li {
            >a {
                font-weight: 500;
            }
        }
    }
}

.contactPage {
    &__map {
        iframe {
            display: block;
            width: 100%;
            aspect-ratio: 1440/476;
        }
    }

    &__main {
        margin-top: -125px;
        padding: 32px 24px;
        background: #fff;
        border-radius: 8px;
    }

    &__form {
        max-width: 576px;

        .title {
            font-size: 20px;
            font-weight: 500;
            color: $colorPrimary;
        }

        .row {
            margin-left: -8px;
            margin-right: -8px;

            >* {
                padding: 0px 8px;
            }
        }

        .form-label {
            font-size: 14px;
            font-weight: 500;
            color: $colorPrimary;
            margin-bottom: 8px;
        }

        .form-control {
            border: 0;
            outline: 0;
            background: #F4F6FC;
            border-radius: 6px;
            font-size: 14px;
            font-weight: normal;

            &::placeholder {
                color: #808080;
            }

            &:not(textarea) {
                height: 44px;
            }
        }

        .sendContact {
            min-width: 156px;
            max-width: 100%;
            min-height: 44px;
            background: $colorPrimary;
            color: #fff;
            border-radius: 8px;
            border: 0;
            font-size: 14px;
            font-weight: 500;
            transition: .15s ease-in-out;

            &:hover {
                background: $colorPrimary2;
            }
        }
    }

    &__info {
        max-width: 442px;

        .title {
            font-size: 32px;
            font-weight: 600;
            color: $colorPrimary;
            text-transform: uppercase;

            span {
                color: $colorPrimary2;
            }
        }

        .info {
            font-size: 14px;
            font-weight: normal;
            color: $colorPrimary;
            line-height: 1.4;

            &__icon {
                object-position: center center;
                margin-top: -2px;
                margin-right: 5px;
            }

            strong {
                flex-shrink: 0;
                margin-right: 10px;
            }
        }
    }
}

.staticPage {
    .container {
        max-width: 810px;
    }
}

.modalLogin {
    .modal-content {
        border-radius: 8px;
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: $colorPrimary;
    }
    &__form {
        .form-label {
            font-size: 14px;
            font-weight: 600;
            color: $colorPrimary;
            margin-bottom: 8px;
        }
        .form-control {
            border: 0;
            outline: 0;
            border-radius: 6px;
            height: 44px;
            background: #F4F6FC;
            &::placeholder {
                color: #808080;
                font-weight: 300;
            }
        }
    }
    &__btn {
        width: 100%;
        height: 44px;
        border-radius: 6px;
        border: 0;
        outline: 0;
        background: $colorPrimary;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin-right: 10px;
        }
        &--fbLogin {
            background: #347EDE;
        }
        &--ggLogin {
            background: #D0404F;
        }
    }
    &__options {
        font-size: 14px;
        font-weight: 400;
        a {
            color: $colorPrimary;
            &:hover {
                text-decoration: underline !important;
            }
        }
        .divider {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            span {
                flex-shrink: 0;
                font-size: 13px;
            }
            &::before, &::after {
                content: "";
                display: block;
                width: 100%;
                height: 0;
                border-top: 1px solid #E5E5E5;
                flex-grow: 1;
            }
        }
    }
}
.showPass {
    position: absolute;
    display: block;
    width: 18px;
    height: 14px;
    background-color: transparent;
    background-image: url(../images/icon-eye.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
    top: calc(50% - 7px);
    right: 10px;
    &.show {
        background-image: url(../images/icon-eye-hide.svg);
    }
    &:focus {
        box-shadow: none;
    }
}